<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>Tszins</title>

    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="../static/css/plugin.css">

    <link rel="stylesheet" href="../static/css/landing.css">

    <!--[if lt IE 9]>

    <script src="../static/js/ie/respond.min.js"></script>

    <script src="../static/js/ie/html5.js"></script>

  <![endif]-->
    {% block head %} {% endblock %}
</head>

<body>

<!-- header -->

<header id="header" class="navbar">

    <ul class="nav navbar-nav navbar-avatar pull-right">

        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <span class="hidden-sm-only">{{ session.user.username }}</span>

                <span class="thumb-small avatar inline"><img src="../static/images/luoweis.png" alt="Mika Sokeil" class="img-circle"></span>

                <b class="caret hidden-sm-only"></b>

            </a>

            <ul class="dropdown-menu">

                <li><a href="/logout">退出登录</a></li>
                <li><a href="#">修改密码</a></li>

            </ul>

        </li>

    </ul>

    <a class="navbar-brand" href="／" style="color:red">TszinS</a>

    <button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">

        <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
</header>

<!-- / header -->
<!-- nav -->
<nav id="nav" class="nav-primary visible-lg nav-vertical">

    <ul class="nav" data-spy="affix" data-offset-top="50">

        <li class="active"><a href="/"><i class="icon-dashboard icon-xlarge"></i>Dashboard</a></li>
        <li class="dropdown-submenu">
            <a href="#"><i class="icon-cloud icon-xlarg"></i>qcloud</a>
            <ul class="dropdown-menu">
                <li><a href="/qcloud/video"><i class="icon-film"></i>视频</a></li>
                <li><a href="/qcloud/tszins_cms"><i class="icon-picture"></i>管理后台</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- / nav -->
{% block content %} {% endblock %}
<!-- footer -->
<footer id="footer">

    <div class="text-center padder clearfix">

        <p>

            <small>&copy; Tszins 2017, 青岛三藏信息科技有限公司</small><br><br>
        </p>

    </div>

</footer>

<a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>

<!-- / footer -->

<script src="../static/js/jquery.min.js"></script>

<!-- Bootstrap -->

<script src="../static/js/bootstrap.js"></script>

<!-- app -->

<script src="../static/js/app.js"></script>

<script src="../static/js/app.plugin.js"></script>

<script src="../static/js/app.data.js"></script>
{% block scripts %}{% endblock %}


<!-- Sparkline Chart -->

<script src="../static/js/charts/sparkline/jquery.sparkline.min.js"></script>

<!-- Easy Pie Chart -->

<script src="../static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

<script src="../static/js/ie/excanvas.js"></script>

</body>

</html>