<html>
<head>
    <meta charset="utf-8">
    <title>Tszins</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/plugin.css">
    <link rel="stylesheet" href="../static/css/landing.css">
    <link href="../static/plugin/play/css/video-js.min.css" rel="stylesheet">
    <script src="../static/plugin/play/js/video.min.js"></script>
</head>
<body>
<section id="content">
    <section class="main padder">
        <div class="row">
            <div class="col-lg-12" align="center" style="margin-top:20px;">
                <video id="" class="video-js vjs-default-skin"  controls preload="none" style="max-width:100%" width="auto" height="auto"
                       poster="../static/plugin/play/Tszins.png"
                       data-setup="{}">
                    <source src="{{ url }}" type='video/mp4' />
                </video>
            </div>
        </div>
    </section>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; Tszins 2017, 青岛三藏信息科技有限公司</small><br><br>
        </p>
    </div>
</footer>
<a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
<!-- / footer -->
</body>
</html>